#!/usr/bin/env nextflow

params {

//project variables
	project_name = "project" 
	data_dir = "data" /*"/dataB/refgraph/pacbio_hifi_data/HG02055_ACB/" */

//canu
	sample_prefix = "HG02055_ACB" /*$(basename $(dirname ${$data_dir}))*/
	genome_size = "2.8g" /*<integer>[g|m|k]*/

//canu options
	time = "1-23:59:00" 
	partition = "batch"
	file_type = "-pacbio" /*set to -pacbio; -nanopore, -pacbio-hifi or -haplotype*/
	reads_corr = "-raw" /*"set to -trimmed|-untrimmed|-raw|-corrected*/
	canu_options = " " /*enter all params separated by a space e.g. canu_params = "corOutCoverage=200 corMinCoverage=4 corOutCoverage=40"*/

//quast
	ref_seq = "/path/to/ref" /*("/dataB/refgraph/refdata/hg38.fa.gz")*/
	gen_ref = "path/to/ref_genes" /*("/dataB/refgraph/refdata/hg38.knownGene.gtf.gz")*/

//quast options
	genome_large = "--large" /*Genome is large (typically > 100 Mbp). Use optimal parameters for evaluation of large genomes.
	genome_type = "--eukaryote" /*Genome is eukaryotic. Affects gene finding, conserved orthologs finding and contig alignment*/
	quast_options = " " /*enter all params separated by a space e.g. quast_options = "--k-mer-stats --fragmented --pacbio"*/

/*
other useful options for quast
	-min-contig /*Lower threshold for a contig length (in bp). Shorter contigs won't be taken into account (except for specific metrics, see section 3). The default value is 500.*/
	--k-mer-stats /*Compute k-mer-based quality metrics, such as k-mer-based completeness, # k-mer-based misjoins. Recommended for large genomes*/
	--k-mer-size 
	--gene-finding
	--conserved-genes-finding
	--contig-thresholds
	--ambiguity-score
	--fragmented
	--pacbio
	--nanopore
	--ref-bam
	--ref-sam 
	--bam
	--sam	
*/
/*
speedup options:
	--no-plots /*Do not draw plots.*/
	--no-html /*Do not build HTML reports and Icarus viewers.*/
	--no-icarus /*Do not build Icarus viewers.*/
	--no-snps /*Do not report SNPs statistics. This may significantly reduce memory consumption on large genomes and speed up computation. However, all SNP-related metrics will not be reported (e.g. # mismatches per 100 kbp).*/
	--no-gc /*Do not compute GC% and do not produce GC-distribution plots (both in HTML report and in PDF).*/
	--no-sv /*Do not run structural variant calling and processing (make sense only if reads are specified).*/
	--no-gzip */Do not compress large output files (files containing SNP information and predicted genes). This may speed up computation, but more disk space is required.*/
	--no-read-stats /*Do not align reads against assemblies and do not report the corresponding metrics. Reads still will be aligned against the reference genome and used for coverage analysis, upper bound assembly simulation, and structural variation detection.*/
	--fast /*A shortcut for using all of speedup options except --no-check.*/
*/

}

profiles {
	 standard {
        process.executor = 'local'
    }
	slurm {
	process.executor = ’slurm’
	process.queue = queue
	}
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}
